<header>
  <nav>
    <%= link_to "Home", "about.html"%>
    <%= link_to "Contact", "mailto:aasani.brown@hgs.hiddengeniusproject.org"%>
    <%= link_to "Git", "https://github.com/jendewalt"%>
  </nav>
</header>
          <main>
  <div class="text_container">
    <div id="title">Can you guess what number these genius' are thinking?</div>
    <p id="host">
      Each genius is thinking of a certain number, its up to you to figure out which number that is </p>
  </div>

  <div id="door_container">
    <div class="door">
        <%= link_to image_tag("goku2.jpg", :class=> "genius-img"), "about.html"%>


    </div>
    <div class="door">
      <%= link_to image_tag("supreme hoodie.jpg",:class=> "genius-img"), "about.html"%>



    </div>
    <div class="door">
      <%= link_to image_tag("Iphone.jpg",:class=> "genius-img"), "about.html"%>


    </div>
  </div>  </main>
  <footer class="footer" >
    <section id="lab_social_icon_footer">
<!-- Include Font Awesome Stylesheet in Header -->

<div class="container">
        <div class="text-center center-block">
                <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
	            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="mailto:#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>



    </div>
</div>
</section>
  </footer>
